.mainBody {
  background: rgb(212, 47, 74);
}

.container {
  background-color: rgb(23, 135, 163);
  border: 5px solid black;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#shadowBody {
  background: white;
  width: 50rem;
}

.line {
  background: black;
  height: 3px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.card-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.my_Notes {
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(23, 135, 163);
  width: 20rem;
}
